
{% extends 'student_templates/student_base.html' %}
{% block std %}
  <h5 class="mb-2"><i class="fas fa-tachometer-alt"></i> Student Dashboard</h5>
  <div class="row">
    <div class="col-md-6 col-lg-3">
      <div class="card text-white bg-primary shadow-sm">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div><h3>5</h3><p class="mb-0">Attendance</p> </div>
            <div>
              <i class="fas fa-users fa-2x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
   
    <div class="col-md-6 col-lg-3">
      <div class="card text-white bg-success shadow-sm">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div><h3>5</h3><p class="mb-0">Subject Taken</p> </div>
            <div>
              <i class="fas fa-book fa-3x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card text-white bg-primary shadow-sm">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div><h3>5</h3><p class="mb-0">Result</p> </div>
            <div>
              <i class="fas fa-school fa-2x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-6 col-lg-3">
      <div class="card text-white bg-warning shadow-sm">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div><h3>5</h3><p class="mb-0">Notice</p> </div>
            <div>
              <i class="fas fa-users fa-2x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   
{% endblock %}
