{%load static%}
<style>
    .sidebar {
        min-height: 100vh;
        background-color: #87ceeb;
    }

    .sidebar .nav-link:hover {
        color: #ffc107 ! important;
    }
</style>
<nav class="col-md-3.1 sidebar ">
    <div class="text-center py-3">
        <img src="{%static  'image/adminimage.png'%}" class="rounded-circle" width="50" height="50" mb-2>
        <h7 class="text-white mt-2">Admin </h7>
    </div>

    <div class="px-3">
        <ul class="nav flex-column align-item-start">
            <li class="nav-item">
                <a href="{% url 'admindash' %}" class="nav-link">
                    <i class="fas fa-tachometer-alt me-1"> </i> Dashboard
                </a>
            </li>
            <!-- <li class="nav-item">
                <a href="#StudentMenu" data-toggle="collapse" class="nav-link">
                    <i class="fas fa-user-graduate me-1"> </i> Student <i class="fas fa-chevron-down float-right"></i>

                </a> -->
                <a>
            <!-- Button trigger -->
            <button class="btn btn-success btn-block text-left mb-2" type="button" data-toggle="collapse"
                data-target="#StudentMenu" aria-expanded="false" aria-controls="StudentMenu">
                <i class="fas fa-user-graduate mr-2 mb-2"></i> Student
                <i class="fas fa-chevron-down float-right"></i>
            </button>
            </a>
            <div id="StudentMenu" class="collapse">
                <ul class="nav flex-column ml-3">
                    <li class="nav-item">
                        <a href="{% url 'addstudent' %}" class="nav-link">
                            <i class="fas fa-plus me-1"></i> Add Student</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'managestudent' %}" class="nav-link">
                            <i class="fas fa-table ml-1"></i> Manage
                            Student</a>
                    </li>
            </div>

            <li class="nav-item">
                <!-- <a href="#ClassMenu" data-toggle="collapse" class="nav-link">
                    <i class="fas fa-chalkboard me-1"> </i> Class <i class="fas fa-chevron-down float-right"></i>

                </a> -->
                <!-- Button trigger -->
<button class="btn btn-primary btn-block text-left mb-2" type="button" data-toggle="collapse" data-target="#ClassMenu" aria-expanded="false" aria-controls="ClassMenu">
    <i class="fas fa-chalkboard mr-2"></i> class
    <i class="fas fa-chevron-down float-right"></i>
</button>
          
               <div id="ClassMenu" class="collapse">
                <ul class="nav flex-column ml-3">
                    <li class="nav-item">
                        <a href="{%url 'createclass'%}" class="nav-link">
                            <i class="fas fa-plus me-1"></i> Add
                            Class</a>
                    </li>
                    <li class="nav-item">
                        <a href="{%url 'manageclass'%}" class="nav-link">
                            <i class="fas fa-table ml-1"></i> Manage
                            Class</a>
                    </li>
            </div>
            <li class="nav-item">
                <!-- <a href="#SubjectMenu" data-toggle="collapse" class="nav-link">
                    <i class="fas fa-book me-1"> </i> Subject <i class="fas fa-chevron-down float-right"></i>

                </a> -->
                <button class="btn btn-success btn-block text-left mb-2" 
                type="button" data-toggle="collapse" data-target="#SubjectMenu" aria-expanded="false" aria-controls="SubjectMenu">
    <i class="fas fa-book mr-2"></i> subject
    <i class="fas fa-chevron-down float-right"></i>
</button>
                <div id="SubjectMenu" class="collapse">
                    <ul class="nav flex-column ml-3">
                        <li class="nav-item">
                            <a href="{% url 'createsubject' %}" class="nav-link">
                                <i class="fas fa-plus me-1"></i>
                                Add Subject</a>
                        </li>
                        <li class="nav-item">
                            <a href="{%url 'managesubject'%}" class="nav-link">
                                <i class="fas fa-list ml-1"></i>
                                Manage Subject</a>
                        </li>
                        <li class="nav-item">
                            <a href class="nav-link">
                                <i class="fas fa-layer-group ml-1"></i>
                                Add Subject Combination</a>
                        </li>
                        <li class="nav-item">
                            <a href class="nav-link">
                                <i class="fas fa-layer-group ml-1"></i>
                                Manage Subject Combination</a>
                        </li>
                </div>
            <li class="nav-item">
                <!-- <a href="#ResultMenu" data-toggle="collapse" class="nav-link">
                    <i class="fas fa-user-graduate me-1">
                    </i> Result <i class="fas fa-chevron-down float-right"></i>

                </a> -->
                <button class="btn btn-primary btn-block text-left mb-2" 
                type="button" data-toggle="collapse" data-target="#ResultMenu" aria-expanded="false"
                 aria-controls="ResultMenu">
    <i class="fas fa-user-graduate mr-2"></i> Result
    <i class="fas fa-chevron-down float-right"></i>
</button>
                <div id="ResultMenu" class="collapse">
                    <ul class="nav flex-column ml-3">
                        <li class="nav-item">
                            <a href class="{% url 'result' %}">
                                <i class="fas fa-plus me-1"></i>
                                Add Result</a>
                        </li>
                        <li class="nav-item">
                            <a href class="nav-link">
                                <i class="fas fa-table ml-1"></i>
                                Manage Results</a>
                        </li>
                </div>
            <li class="nav-item">
                <!-- <a href="#NoticeMenu" data-toggle="collapse" class="nav-link">
                    <i class="fas fa-bullhorn me-1">
                    </i> Notice <i class="fas fa-chevron-down float-right"></i>

                </a> -->
                <button class="btn btn-success btn-block text-left" type="button" data-toggle="collapse" data-target="#NoticeMenu" aria-expanded="false" aria-controls="NoticeMenu">
    <i class="fas fa-bullhorn mr-2"></i> Notice
    <i class="fas fa-chevron-down float-right"></i>
</button>
                <div id="NoticeMenu" class="collapse">
                    <ul class="nav flex-column ml-3">
                        <li class="nav-item">
                            <a href="{%url 'addnotice'%}" class="nav-link">
                                <i class="fas fa-plus me-1"></i>
                                Add Notice</a>
                        </li>
                        <li class="nav-item">
                            <a href="{%url 'managenotice'%}" class="nav-link">
                                <i class="fas fa-table ml-1"></i>
                                Manage
                                Notice</a>
                        </li>
                </div>
            <li class="nav-item">
                <a href class="nav-link">
                    <i class="fas fa-key me-1">
                    </i>Change Password
                </a>
            </li>
        </ul>
    </div>
</nav>